.guid-pages {
  display: block;
  .title-guid-pages {
    border-bottom: none;
    margin: 1rem auto 2.5rem auto;
    width: 100%;
    text-align: center;
    color: color("sub-title");
    letter-spacing: 5px;
    padding-bottom: 0.3rem;
    text-transform: uppercase;

    h1 {
      font-size: 2.25rem;
      text-align: center;
      color: color("sub-title");
      padding-bottom: 0.3rem;
      text-transform: uppercase;
    }

    h2 {
      text-align: center;
    }

    h4 {
      @extend .text;
      display: block;
      text-align: center;
      max-width: 600px;
      margin-top: 10px auto;
      font-weight: 300;
      font-style: italic;
      padding: 0 1rem;
      margin: 2rem auto;
    }
  }
  .guid-pages-container {
    max-width: $max-width;
    margin: 0;
    padding-top: 0;

    .guid-page {
      position: relative;
      .bg-guid-page {
        width: 100%;
        overflow: hidden;
        .picture-guid-page {
          position: relative;
          display: block;
          overflow: hidden;
          img {
            display: inline-block;
            width: 100%;
            height: auto;
            object-fit: cover;
            border-style: none;
            vertical-align: middle;
          }
        }
        a {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          cursor: pointer;
        }
      }
      .title-guid-pages {
        @extend .section-title;
        margin: 4rem auto 2rem auto;
        padding: 0.5rem 1rem;
      }
    }
  }
  .article-gas {
    .title-gas-guid {
      @extend .title;
      justify-content: flex-start;
      letter-spacing: normal;
      border-bottom: none;
      margin: 0;
      padding: 0 1rem;
    }

    .sub-title-gas-guid {
      @extend .text;
      text-align: justify;
      padding: 0 1rem;
      margin: 2rem auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .guid-pages {
    .guid-pages-container {
      margin: 0;
      padding-top: 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  .guid-pages {
    .title-guid-pages {
      padding-top: 2rem;
    }
    .guid-pages-container {
      margin: 0 auto;
      padding-top: 6rem;
    }

    .article-gas {
      .title-gas-guid {
        padding: 0 10rem;
      }

      .sub-title-gas-guid {
        padding: 0 10rem;
      }
    }
  }
}
