.main-about {
  margin: 0 auto;
  .content-main {
    .article-about-main {
      width: 100%;
      .about-info-main {
        padding: 1rem 1rem;
        h3 {
          @extend .title;
          padding-bottom: 1rem;
        }

        p {
          @extend .text;
          padding-top: 1rem;
          margin: 0;
          text-align: justify;
        }
      }
      .about-image-main {
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.section-about {
  padding-bottom: 2rem;
  margin: 0 auto;
  .content-article {
    .article-about {
      width: 100%;
      .about-info-1,
      .about-info-2 {
        padding: 0 1rem;

        h2 {
          @extend .section-title;
          border-bottom: none;
          text-align: left;
          color: color("primary");
          letter-spacing: 2px;
        }

        p {
          @extend .text;
          padding-top: 1rem;
          margin: 0;
          text-align: justify;
        }
      }
      .about-image-1 {
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .about-image-2 {
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main-about {
    padding-top: 2rem;
    padding-bottom: 4rem;
    .content-main {
      display: flex;
      .article-about-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;

        .about-info-main {
          padding: 0rem 0.25rem 0 1rem;
        }

        .about-image-main {
          padding: 0 1rem 0 0.25rem;
        }
      }
    }
  }

  .section-about {
    padding: 0;
    .content-article {
      display: flex;
      .article-about {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        column-gap: 1rem;

        .about-info-1 {
          padding: 2rem 2rem 1rem 0.25rem;
        }

        .about-info-2 {
          padding: 0rem 0.25rem 0 1rem;
        }

        .about-image-1 {
          padding: 2rem 0.25rem 1rem 1rem;
        }

        .about-image-2 {
          padding: 0 2rem 0 0.25rem;
        }
      }
    }
  }

  .article-flex-order {
    order: 1;
  }
}

@media screen and (min-width: 1024px) {
  .main-about {
    padding-top: 8rem;
    padding-bottom: 2rem;
    .content-main {
      display: flex;
      .article-about-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        .about-info-main {
          padding: 0 1.5rem 0 1rem;
        }
        .about-image-main {
          padding: 0 1rem 0 1.5rem;
        }
      }
    }
  }
  .section-about {
    padding-top: 5rem;
    .content-article {
      display: flex;
      .article-about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;

        .about-info-1 {
          padding: 0 1rem 0 1.5rem;
        }

        .about-info-2 {
          padding: 0 1.5rem 0 1rem;
        }

        .about-image-1 {
          padding: 0 1.5rem 0 1rem;
        }

        .about-image-2 {
          padding: 0 1rem 0 1.5rem;
        }
      }
    }
  }

  .article-flex-order {
    order: 1;
  }
}
