/** Estilos base de texto */

html {
  font-family: $font;
  font-size: 16px;
}
body {
  color: color("text");
}
a {
  transition: all 0.5s ease-out;
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
}

h4 {
  margin: 0;
  font-size: 1.3rem;
}

h5 {
  margin: 0;
  font-size: 0.95rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

i {
  transition: all 0.5s ease-out;
  text-decoration: none;
}

p {
  line-height: 1.9;
  font-size: 1.125rem;
}
