.main-guid {
  display: block;
  .title-guid-head {
    border-bottom: none;
    margin: 1rem auto 2.5rem auto;
    width: 100%;
    text-align: center;
    color: color("sub-title");
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .guid-container {
    max-width: $max-width;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1rem;

    .guid {
      position: relative;
      .bg-guid {
        width: 100%;
        overflow: hidden;
        .picture-guid {
          position: relative;
          display: block;
          overflow: hidden;
          img {
            display: inline-block;
            width: 100%;
            height: auto;
            object-fit: cover;
            border-style: none;
            vertical-align: middle;
          }
        }
        a {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          cursor: pointer;
        }
      }
      .title-guid {
        background-color: color("blk-alpha");
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        text-align: start;
        align-items: flex-end;
        width: auto;
        margin: 0;
        padding: 1rem 1rem;
        text-align: left;
        color: color("wth");
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main-guid {
    .guid-container {
      margin: 1rem auto;
      display: grid;
      grid-template-columns: 1fr;
      margin: 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  .main-guid {
    .title-guid-head {
      padding-top: 2rem;
    }
    .guid-container {
      margin: 1rem auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 15px;
    }
  }
}
