.container {
  margin: 0 auto;
  max-width: $max-width;
}

.none {
  display: none;
}

.section-title {
  border-bottom: 2px solid map-get($map: $palette, $key: "primary");
  width: 100%;
  text-align: center;
  font-size: 900;
  color: map-get($map: $palette, $key: "sub-title");
  text-transform: uppercase;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid map-get($map: $palette, $key: "primary");
  text-align: center;
  color: map-get($map: $palette, $key: "sub-title");
  letter-spacing: 5px;
  font-size: 900;
  text-transform: uppercase;
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem auto;
  color: map-get($map: $palette, $key: "tittle");
  text-align: justify;
  p {
    width: 100%;
    text-align: justify;
    color: color("sub-title");
    text-align: justify;
  }
}
